a,body,div,h1,h2,h3,h4,h5,html,p,span {
    font-family: Lato,sans-serif
}

body,html {
    height: 100%
}

body.home_category {
    background: url(../img/backs_cat_home1.jpg) bottom center repeat-x;
    background-size: contain;
    width: 100%;
    height: auto;
    position: relative
}

.nav-bar {
    background: #fff;
    padding: 3rem 0;
    box-shadow: none
}

.nav-bar .navbar-header h4.heading {
    max-width: 250px;
    margin: 0
}

.nav-bar .navbar-header h4.heading img {
    max-width: 100%
}

.nav-bar .navbar-nav {
    padding-top: .5rem
}

.nav-bar .navbar-nav li {
    font-size: 17px
}

.nav-bar .navbar-nav li a {
    font-size: 17px;
    color: #2c6c9a
}

.nav-bar .navbar-nav li a:hover {
    color: #1B557F
}

.navbar-default {
    border-bottom: 0
}

.prelatife {
    position: relative
}

.lists_category_defnon_ct {
    clear: both
}

.lists_category_defnon_ct .items.active .inner {
    border-bottom: 45px solid #f7bb36
}

.lists_category_defnon_ct .items.active .inner span.blue {
    color: #2576b2
}

.lists_category_defnon_ct .items.active .inner span.orange {
    color: #f7bb36
}

.lists_category_defnon_ct .items {
    position: relative;
    z-index: 7;
    -webkit-box-shadow: 0 0 16px 0 rgba(0,0,0,.35);
    -moz-box-shadow: 0 0 16px 0 rgba(0,0,0,.35);
    box-shadow: 0 0 16px 0 rgba(0,0,0,.35);
    background-color: #fff;
    display: block;
    margin: 0 auto 7rem;
    width: 280px;
    height: 220px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    clear: both
}

.lists_category_defnon_ct .items .inner {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border-bottom: 45px solid #a2a2a2
}

.lists_category_defnon_ct .items .inner h5 {
    margin: 0;
    padding: 0;
    display: block;
    font-weight: 700;
    font-size: 27px;
    letter-spacing: normal;
    line-height: 1
}

.lists_category_defnon_ct .items .inner .bn_lock {
    position: absolute;
    top: 7%;
    left: 7%;
    z-index: 1
}

.lists_category_defnon_ct .items .inner .bn_lock i.fa {
    font-size: 20px;
    color: #a2a2a2
}

.lists_category_defnon_ct .items .inner {
    display: table;
    vertical-align: middle;
    text-align: center;
    height: 100%;
    width: 100%
}

.lists_category_defnon_ct .items .inner .in_table {
    display: table-cell;
    vertical-align: middle;
    text-align: center
}

.lists_category_defnon_ct .items .inner.link {
    cursor: pointer
}

.py-1 {
    padding-top: .5em!important;
    padding-bottom: .5em!important
}

.py-2 {
    padding-top: 1em!important;
    padding-bottom: 1em!important
}

.py-3 {
    padding-top: 1.5em!important;
    padding-bottom: 1.5em!important
}

.py-4 {
    padding-top: 2em!important;
    padding-bottom: 2em!important
}

.py-5 {
    padding-top: 2.5em!important;
    padding-bottom: 2.5em!important
}

.p-5 {
    padding: 3.5rem!important
}

.p-4 {
    padding: 3rem!important
}

.p-3 {
    padding: 2.5rem!important
}

.p-2 {
    padding: 2rem!important
}

.p-1 {
    padding: 1.5rem!important
}

.p-05 {
    padding: 1rem!important
}

.wrapper-login {
    width: 100%;
    height: auto;
    background-color: #fff;
    margin: 3rem 0
}

.wrapper-login .inners_blue {
    background-color: #2874ae
}

.wrapper-login .login-page {
    box-shadow: none;
    background-color: transparent;
    width: auto;
    margin: 4.5rem 0 0;
    color: #fff;
    max-width: 375px;
    padding: 3rem 0
}

.wrapper-login .login-page .remember-me,.wrapper-login .login-page a {
    color: #fff
}

.wrapper-login .login-page .user-register-heading {
    margin: 0 0 .5rem;
    padding-bottom: 0rem;
    border: 0;
    color: #fff
}

.wrapper-login .login-page .login-form .checkbox {
    margin-bottom: 15px
}

.wrapper-login .slides-banner-set .carousel .item img {
    max-width: 100%;
    width: 100%
}

.wrapper-login .slides-banner-set .carousel ol.carousel-indicators {
    bottom: -30px;
    margin-bottom: 0
}

.wrapper-login .slides-banner-set .carousel ol.carousel-indicators li {
    width: 55px;
    height: 5px;
    background-color: #a3a3a3;
    border-radius: 5px;
    border: 0;
    margin: 0 4px
}

.wrapper-login .slides-banner-set .carousel ol.carousel-indicators li.active,.wrapper-login .slides-banner-set .carousel ol.carousel-indicators li:focus,.wrapper-login .slides-banner-set .carousel ol.carousel-indicators li:hover {
    margin: 0 4px;
    border: 0;
    border-radius: 5px;
    text-decoration: none;
    width: 55px;
    height: 5px;
    background-color: #2975aa
}

#app {
    height: 100%
}

.flying_foot {
    padding: 15px;
    color: #FFF;
    background-color: #100b0b;
    position: fixed;
    width: 100%;
    bottom: 0;
    clear: both;
    font-size: 12px
}

.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover {
    color: #155482
}

.py-1 {
    padding-bottom: .5rem
}

.py-2 {
    padding-bottom: 1rem
}

.py-3 {
    padding-bottom: 1.5rem
}

.py-4 {
    padding-bottom: 2rem
}

.py-5 {
    padding-bottom: 3rem
}

.mr-5 {
    margin-right: 2.5rem
}

.mr-4 {
    margin-right: 2rem
}

.mr-3 {
    margin-right: 1.5rem
}

.mr-2 {
    margin-right: 1rem
}

.mr-1 {
    margin-right: .75rem
}

.ml-5 {
    margin-left: 2.5rem
}

.ml-4 {
    margin-left: 2rem
}

.ml-3 {
    margin-left: 1.5rem
}

.ml-2 {
    margin-left: 1rem
}

.ml-1 {
    margin-left: .75rem
}

.outers_wrap_dashboard.ins_page {
    background-color: #2874ae;
    clear: both
}

.outers_wrap_dashboard.ins_page .back-white2 {
    background-color: #fdfdfd
}

body.home_dashboard {
    background: #2874ae
}

.blocks_def_form form {
    margin-bottom: 0
}

.blocks_left_menu.outer_left_m {
    clear: both
}

.blocks_left_menu.outer_left_m ol li,.blocks_left_menu.outer_left_m ul li {
    font-size: 20px;
    margin-left: 2rem;
    padding: .9rem 0
}

.blocks_left_menu.outer_left_m ol li a,.blocks_left_menu.outer_left_m ul li a {
    font-size: 20px;
    color: #fff
}

.blocks_left_menu.outer_left_m ol li i.fa,.blocks_left_menu.outer_left_m ul li i.fa {
    color: #fff;
    margin-left: -2rem;
    font-size: 26px;
    width: 26px
}

.blocks_left_menu.outer_left_m ol li.active a,.blocks_left_menu.outer_left_m ol li:focus a,.blocks_left_menu.outer_left_m ol li:hover a,.blocks_left_menu.outer_left_m ul li.active a,.blocks_left_menu.outer_left_m ul li:focus a,.blocks_left_menu.outer_left_m ul li:hover a {
    text-decoration: none;
    color: #8db4cf
}

.blocks_left_menu.outer_left_m ol li.active i.fa,.blocks_left_menu.outer_left_m ol li:focus i.fa,.blocks_left_menu.outer_left_m ol li:hover i.fa,.blocks_left_menu.outer_left_m ul li.active i.fa,.blocks_left_menu.outer_left_m ul li:focus i.fa,.blocks_left_menu.outer_left_m ul li:hover i.fa {
    color: #feba15
}

.blocks_left_menu.outer_left_m ol li.disabled,.blocks_left_menu.outer_left_m ol li.disabled i.fa,.blocks_left_menu.outer_left_m ul li.disabled,.blocks_left_menu.outer_left_m ul li.disabled i.fa {
    color: #bcb8bc
}

.blocks_def_listpakets {
    clear: both
}

.blocks_def_listpakets .items.box-itm {
    padding: 2rem 3rem;
    display: block;
    text-align: center;
    width: 112px;
    height: 90px;
    background-color: #feb81c;
    clear: both;
    margin-bottom: 2rem;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    position: relative
}

.blocks_def_listpakets .items.box-itm a:focus,.blocks_def_listpakets .items.box-itm a:hover {
    text-decoration: none
}

.blocks_def_listpakets .items.box-itm a:focus span,.blocks_def_listpakets .items.box-itm a:hover span {
    text-decoration: none;
    opacity: .9
}

.blocks_def_listpakets .items.box-itm span {
    font-size: 14px;
    color: #fff;
    display: block;
    margin: 0;
    text-align: center
}

.blocks_def_listpakets .items.box-itm span.top {
    font-size: 13px;
    font-weight: 700
}

.blocks_def_listpakets .items.box-itm span.names {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2
}

.blocks_def_listpakets .items.box-itm.actived {
    color: #000;
    clear: both
}

.blocks_def_listpakets .items.box-itm.actived span,.blocks_def_listpakets .items.box-itm.actived span.names,.blocks_def_listpakets .items.box-itm.actived span.top {
    color: #000
}

.blocks_def_listpakets .items.box-itm.disablen {
    background-color: #a1a1a1
}

.blocks_def_listpakets .items.box-itm.disablen i.fan_lock {
    color: #3f3f3f;
    font-size: 16px;
    position: absolute;
    bottom: 10px;
    left: 15px;
    z-index: 2
}

.d-block {
    display: block
}

.back-white3 {
    background-color: #f3f3f3
}

.blocks_start_packet {
    background-color: #f3f3f3;
    clear: both
}

.blocks_start_packet .tops span.tp1 {
    display: block;
    line-height: 1.1;
    font-size: 22px;
    font-weight: 700;
    color: #2575b1
}

.blocks_start_packet .tops span.numbers {
    display: block;
    line-height: 1.2;
    font-size: 45px;
    font-weight: 700;
    color: #feb81b
}

.blocks_start_packet .infos ol li,.blocks_start_packet .infos p,.blocks_start_packet .infos span,.blocks_start_packet .infos ul li {
    color: #4982ad
}

.blocks_start_packet .infos span {
    font-size: 17px;
    font-weight: 400
}

.blocks_start_packet .infos ol li,.blocks_start_packet .infos ul li {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: .5rem
}

.blocks_start_packet .infos p {
    display: block;
    line-height: 1.35;
    font-size: 15px;
    font-weight: 400
}

.blocks_start_packet .infos .bloc_nsl_btn a.btn.btnxl_set {
    border: 0;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1rem 2.6rem;
    border-radius: 10px
}

.blocks_start_packet .nilai_bottoms {
    max-width: 525px;
    margin: 0 auto;
    text-align: center;
    clear: both
}

.blocks_start_packet .nilai_bottoms .boxeds span.tp1 {
    font-size: 15px;
    font-weight: 700;
    color: #2e73a4
}

.blocks_start_packet .nilai_bottoms .boxeds span.numbers {
    font-size: 37px;
    font-weight: 700;
    color: #fdba16
}

.blocks_start_packet .nilai_bottoms p {
    font-size: 18px;
    color: #0db22e;
    font-weight: 700;
    text-transform: uppercase
}

.blocks_start_soalp,.blocks_start_soalp .blocks_ntitles_soal {
    clear: both
}

.blocks_start_soalp .blocks_ntitles_soal .blv_timer {
    font-size: 18px;
    font-weight: 700;
    color: #ef1413;
    display: block;
    text-align: center
}

.blocks_start_soalp .blocks_ntitles_soal .blv_timer span {
    display: block;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: #ef1413
}

.blocks_start_soalp .blocks_ntitles_soal .blv_text {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #407dab
}

.blocks_start_soalp .blocks_soal_left .box_soal {
    font-size: 16px;
    font-weight: 400;
    color: #3B84B1
}

.blocks_start_soalp .blocks_soal_left .box_soal p {
    font-size: 16px;
    font-weight: 400;
    color: #3B84B1;
    display: block;
    margin-bottom: 1rem
}

.blocks_start_soalp .blocks_soal_left .box_soal p.red {
    color: #eb0b09;
    margin-bottom: 0;
    font-weight: 700
}

.blocks_start_soalp .blocks_soal_left .box_answer ol {
    list-style-type: lower-alpha;
    padding-left: 1.2rem
}

.blocks_start_soalp .blocks_soal_left .box_answer ol li {
    font-size: 16px;
    color: #3B84B1;
    font-weight: 400
}

.blocks_start_soalp .bloc_tab_nsoal .boxed {
    padding-bottom: .2rem;
    border: 1px solid #71a1bf;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    clear: both
}

.blocks_start_soalp .bloc_tab_nsoal .boxed span {
    font-weight: 700;
    color: #71a1bf
}

.blocks_start_soalp .bloc_tab_nsoal .boxed ul {
    margin: 0;
    padding: 0
}

.blocks_start_soalp .bloc_tab_nsoal .boxed ul li {
    font-size: 11.4px;
    background-color: #B7B7B7;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    width: 23px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: .25rem
}

.blocks_start_soalp .bloc_tab_nsoal .boxed ul li.benar {
    background-color: #06b723;
    color: #fff
}

.blocks_start_soalp .bloc_tab_nsoal .boxed ul li.salah {
    background-color: #fc0202;
    color: #fff
}

.blocks_start_soalp .bloc_tab_nsoal .boxed ul li.terjawab {
    background-color: #1F98E5;
    color: #fff
}

.blocks_n_right_bahas p,.blocks_n_right_bahas span {
    font-size: 15px;
    font-weight: 400;
    color: #1799D6;
    line-height: 1.38;
    margin-bottom: 1.25rem
}

.blocks_n_right_bahas h2,.blocks_n_right_bahas h3,.blocks_n_right_bahas h4,.blocks_n_right_bahas h5 {
    color: #1799D6;
    font-weight: 400
}

.blocks_start_soalp .blocks_soal_left,.blocks_start_soalp .blocks_soal_left .box_answer {
    clear: both
}

.blocks_start_soalp .blocks_soal_left .box_answer ol li.wrong {
    color: #ff0204
}

.blocks_start_soalp .blocks_soal_left .box_answer ol li.trues {
    color: #04b92e
}

.blocks_main_question .smyQuestion {
    display: none
}

.blocks_main_question .smyQuestion.active {
    display: block
}

.block_nav_pgn button.btn,.block_nav_pgn button.btn-default {
    background-color: transparent;
    border: 0;
    border-radius: 0
}

.block_nav_pgn button.btn i.fa,.block_nav_pgn button.btn-default i.fa {
    color: #259BD8
}

.answ-img-blocks,.question-img-block {
    max-width: 430px
}

.answ-img-blocks img.img-fluid,.question-img-block img.img-fluid {
    max-width: 100%
}

.answ-img-blocks {
    display: inline-block;
    max-width: 190px;
    margin-bottom: 1rem
}

.answ-img-blocks img.img-fluid {
    margin-left: .5rem;
    display: inline-block;
    vertical-align: top;
    max-width: 150px
}

.answ-img-blocks span {
    display: inline-block;
    vertical-align: top;
    margin-left: .5rem
}

@media screen and (max-width: 1450px) {
    .lists_category_defnon_ct .items {
        margin-bottom:3.5rem;
        width: 100%;
        min-height: inherit;
        height: 180px
    }

    body.home_category .py-3 {
        padding: 0!important
    }

    .nav-bar {
        padding-bottom: 0!important
    }
}
